Sublime/Packages/HTML/
Sublime/Packages/SublimeCodeIntel/
Sublime/Packages/SublimeLinter/
Sublime/Packages/SublimeLinter-csslint/
Sublime/Packages/SublimeLinter-html-tidy/
Sublime/Packages/SublimeLinter-jshint/
Sublime/Packages/SublimeLinter-json/
Sublime/Packages/SublimeLinter-ruby
Sublime/Packages/User/Package Control.cache